:root {
  --colSize: 3;
  --rowSize: 3;
}

.cell-grid {
  display: grid;
  grid-template-columns: repeat(var(--colSize), 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  box-sizing: border-box;

  aspect-ratio: var(--colSize) / var(--rowSize);
  height: 100vmin;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  cursor: pointer;

  aspect-ratio: 1 / 1;

  /* disable mobile highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

svg > use {
  pointer-events: none;
}
