@import url(./reset.css);
@import url(./helpers.css);
@import url(./cell-grid.css);

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  background-color: #94959d;
}

.gameboard-frame {
  background-color: #4c4e4c;
  border: 1vmin solid black;
  border-radius: 10vmin;
}

/* colors */
[data-color="red"] {
  color: red;
}
[data-color="green"] {
  color: forestgreen;
}
[data-color="blue"] {
  color: dodgerblue;
}
[data-color="yellow"] {
  color: gold;
}
[data-color="purple"] {
  color: rebeccapurple;
}
[data-color="empty"] {
  visibility: hidden;
}

.main {
  justify-content: space-evenly;
  gap: 10vmin;
}

.target-card {
  height: 50vmin;

  background-color: #f7f4f1;
  border: 1vmin solid rgba(0, 0, 0, 0.5);
  border-radius: 3vmin;
}

.target-card .cell {
  padding: 1vmin;
}

.bell {
  aspect-ratio: 1 / 1;
  width: 30vmin;
  /* height: 20vmin; */
}

.card-holder {
  justify-content: space-around;
  align-items: center;
  gap: 5vmin;
}
