@import url(./reset.css);
@import url(./helpers.css);
@import url(./cell-grid.css);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  background-color: #94959d;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  line-height: 0.8em;
}

section {
  width: inherit;
  height: inherit;
}

@media only screen and (min-aspect-ratio: 1/2) {
  section {
    /* todo: impl landscape mode */
  }
}

.gameboard-container {
  /* height: 50%; */
  padding: 2vmin;
}

.gameboard-frame {
  width: 100%;
  background-color: #4c4e4c;
  border: 1vmin solid black;
  border-radius: 10vmin;
}

/* colors */
[data-color="red"] {
  color: red;
}
[data-color="green"] {
  color: forestgreen;
}
[data-color="blue"] {
  color: dodgerblue;
}
[data-color="yellow"] {
  color: gold;
}
[data-color="purple"] {
  color: rebeccapurple;
}
[data-color="pink"] {
  color: #ff69b4;
}

[data-color="empty"] {
  visibility: hidden;
}

.main {
  justify-content: space-between;
}

.target-card {
  height: 50vmin;

  background-color: #f7f4f1;
  border: 1vmin solid rgba(0, 0, 0, 0.5);
  border-radius: 3vmin;

  padding: 1%;
  gap: 1%;
}

.bell {
  aspect-ratio: 1 / 1;
  width: 30vmin;
  /* height: 20vmin; */
}

.card-holder {
  justify-content: space-around;
  align-items: center;
  gap: 5vmin;
}

header,
footer {
  width: 100%;
  font-size: 5vmin;
  justify-content: space-around;
  background-color: #00000030;
  box-sizing: border-box;

  text-transform: uppercase;
}

footer {
  padding: 2vmin;
}

.fade {
  color: #0000004d;
}

button {
  padding: 2vmin;
  background-color: #0000001f;
}

button:active {
  /* background-color: #ff68b4; */
  background-color: #1d90ff;
}
